
 # Prerequisites 
 *.d 
 
  # Compiled Object files 
 *.slo 
 *.lo 
 *.o 
 *.obj 
 
 
 # Precompiled Headers 
 *.gch 
 *.pch 
 *.dll 
 # Compiled Dynamic libraries 
 *.so 
 *.dylib 
 
 
 

 # Fortran module files 
 *.mod 
 *.smod 
 
 
 # Compiled Static libraries 
 *.lai 
 *.la 
 *.a 
 *.lib 
 
 
 # Executables 
 *.exe 
 *.out 
 *.app 
 *.db 
 *.opendb 
 *.ipch 
 *.ilk 
 *.pdb 
 *.log 
 *.tlog 
 *.suo 
 *.idb 
 *.mp3 
 *.enc 
 

 
 
./x64/

./.vs/ 
./DirectTool/Debug/ 
./_Resources/ 
../Debug/ 
x64/Debug/windowAPI.tlog/windowAPI.lastbuildstate
x64/Debug/windowAPI.tlog/rc.write.1.tlog
x64/Debug/windowAPI.tlog/rc.read.1.tlog
x64/Debug/windowAPI.tlog/rc.command.1.tlog
x64/Debug/windowAPI.tlog/link.write.1.tlog
x64/Debug/windowAPI.tlog/link.read.1.tlog
x64/Debug/windowAPI.tlog/link.command.1.tlog
x64/Debug/windowAPI.tlog/CL.write.1.tlog
x64/Debug/windowAPI.tlog/CL.read.1.tlog
x64/Debug/windowAPI.tlog/CL.command.1.tlog
x64/Debug/windowAPI.res
x64/Debug/vc141.idb
.vs/windowAPI/v15/ipch/475646bbfa38bf4e.ipch
.vs/windowAPI/v15/Browse.VC.opendb
.vs/windowAPI/v15/Browse.VC.db
.vs/windowAPI/v15/ipch/4e25a667f73bd435.ipch
x64/Debug/windowAPI.pch
.vs/windowAPI/v15/.suo
x64/Debug/action.obj
x64/Debug/animation.obj
x64/Debug/BasicScene.obj
x64/Debug/button.obj
x64/Debug/effect.obj
x64/Debug/effectManager.obj
x64/Debug/Enemy.obj
x64/Debug/EnemyManager.obj
x64/Debug/Flower.obj
x64/Debug/gameNode.obj
x64/Debug/GameObject.obj
x64/Debug/Hydra.obj
x64/Debug/Hydra_F.obj
x64/Debug/Hydra_S.obj
x64/Debug/Hydra_W.obj
x64/Debug/image.obj
x64/Debug/imageManager.obj
x64/Debug/keyAniManager.obj
x64/Debug/keyManager.obj
x64/Debug/LoadingScene.obj
x64/Debug/PathFinder.obj
x64/Debug/Player.obj
x64/Debug/PlayerManager.obj
x64/Debug/playGround.obj
x64/Debug/progressBar.obj
x64/Debug/Rabbit.obj
x64/Debug/sceneManager.obj
x64/Debug/Slime.obj
x64/Debug/soundManager.obj
x64/Debug/StageOneScene.obj
x64/Debug/StageTwoScene.obj
x64/Debug/stdafx.obj
x64/Debug/TileMap.obj
x64/Debug/timeManager.obj
x64/Debug/timer.obj
x64/Debug/txtData.obj
x64/Debug/utils.obj
x64/Debug/vc141.pdb
x64/Debug/Warrior.obj
x64/Debug/windowAPI.exe
x64/Debug/windowAPI.ilk
x64/Debug/windowAPI.log
x64/Debug/windowAPI.obj
x64/Debug/windowAPI.pdb
x64/Debug/player.obj.enc
.vs/windowAPI/v15/ipch/a9ad7ae2985ddd0f.ipch
.vs/windowAPI/v15/ipch/a1c280d7ca8c9a7.ipch
